
@import '_h5bp';
@import 'components/components';

* { box-sizing: border-box; }
body {min-height: 100%;}



html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, 
li {
    padding:0;
    margin:0;
}

[type="text"],
textarea {
    margin:0;
    padding:0;
    display:block;
    width:100%;
    padding:.7em .7em;
    font-weight:normal;
    font-size:1rem;
    color:#222;
    border:1px solid #ccc;
    border-radius:.3em;
    outline:none;
    box-shadow:0 2px 3px #ddd inset;
    transition:all .5s ease;
    line-height: 1.2em;

    &:focus { 
        border-color:rgb(50,150,255);
    }
}

main {
    display: block;
    margin:0;
    min-height:40rem;
}

footer {
    display: block;
    margin-top:5rem;
}

.main-fixed-footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:60px;
  background:#fff;
}

@media (min-width: 990px) {
    body {
        overflow-y: scroll;
    }
}















.header__fill-fixed-position-space {
  display: block;
  height:80px;
}
.header__fixed-to-top {
  position:fixed;
  z-index: 4;
  top:0;
  right:0;
  left:0;
  box-shadow: 0 2px 3px #eee;
  background:#fff;
}
.header__center-aligned-container {  
    width:100%;
}
.header__navigation__list { 
  padding:0;
  margin:0;
}
.header__navigation-item {
    display: inline-block;
    vertical-align: top;
    padding:0;
    margin:0;
}
.header__navigation-item__link,
.header__profile-photo-container {
  -webkit-transition: background-color .3s linear;
  &:hover { background: #eee; }
}
.header__profile-photo-container,
.header__navigation-item__link {
  &.active {
    display:none;
  }
}
.header__navigation-item__link {
    text-decoration: none;
    padding:.7em .4em;
    display: inline-block;
    font-weight: normal;
    font-size:1rem;

    &.header__navigation-item__link--feedback {
        line-height: 1em;
        padding-top:.5em;
        padding-bottom:.5em;
    }
}

.header__feedback-face-svg {
    width:25px;
    height:25px;
    &.header__feedback-face-svg--smile {
        margin-left:-0.3em;
    }
}
.header__navigation-item__link,
.header__feedback-face-svg path {
    &,
    &:hover,
    &:visited { color:#333;  }
    fill: #333;
}

.header__profile-photo-container {
    padding:7px 7px 6px;
    vertical-align: top;
    display: inline-block;
}
.header__profile-photo {
    height:35px;
    width:35px;
    border-radius:3px;
    vertical-align: top;
    display: inline-block;
    border-radius:30px;
}
.header-feedback__frowny-face {
    width: 50px;
    height: 50px;
    width: 100%;
    height: 100%;
}

@media (min-width:700px) {
    .header__navigation-item {
        border-right:none;
        & + & { border-left:none; }
    }
    .header__navigation-item__link {
        font-size:1.05rem;
        padding:1em 1em;

        &.header__navigation-item__link--feedback {
            padding-top:.9em;
            padding-bottom:.9em;
            padding-left:1em ;
            padding-right:.8em ;
            line-height: 1em;
        }
    }
    .header__topics-link {
        font-size:1.3rem;
        padding: .8em;
        font-weight: bold;
        &,
        &:hover,
        &:visited {  }
        &:hover {
        }
    }
    .header__profile-photo-container { padding:11px 1rem; }

    .header__transparent-background {
        height:4rem;
    }
}

.scroll-to-top-button {
    position:fixed;
    bottom:0px;
    left:0px;
    padding:20px;
    border-radius: 0 5px 0 0;
    display: block;
    background-color:#fff;
    box-shadow:0 0px 3px #ddd;
    cursor:  pointer;
}















.fp-prediction__container {
  margin:1rem 0px;

}
.fp-prediction__most-common-view {
    margin:3rem 0px;
}



.fp-prediction, 
fp-prediction {
    display: block;
}

.fp-prediction {
    transition: ease 1s all;
    margin:0;
    padding:0;
    color: #222;
    width: 100%;
    display: block;
    position: relative;
}
.fp-prediction__toggle-topics-button {
    position:absolute;
    right:0;
    cursor: pointer;
        display: inline-block;
        padding: .5em;
        color:#999;
    &:hover {
        text-decoration: underline;
    }
}
.fp-prediction__topics__add-topic-button {
  background:none;
  padding:.2em;
  font-size:1rem;
  border:none;
  color:#777;
}
.fp-prediction__topics {
    padding:0;
    display: block;
    text-align: center;
    margin-bottom: .5rem;
}
.fp-prediction__topic {
    &:first-letter {
        text-transform: uppercase;
    }
    margin-right:.1em;
    margin-top:.1em;
    min-width: 4em;
    cursor:pointer;
    line-height: 1em;
    display: inline-block;
    border-radius:0.3em;
    padding:.4em .6em;
    font-size:1.05rem;
    transition: all .5s ease;
    text-decoration: none;
    background:rgb(240,245,250);
    &,
    &:hover,
    &:visited {
        color:rgb(50,100,150);
    }
    &:hover {
        background:rgb(220,235,250);
        color:rgb(0,70,150);
    }
    .fp-prediction__topics--attention-grabbing & {}
    .hide-first-topic &:nth-child(1) { 
        display: none;
    }
}
.fp-prediction__title-container {
    display: block;
    margin:0 auto;
    width: 100%;
    max-width: 22em;
    line-height:1.3em;
    font-size: 1.3rem;
    font-weight: normal;
    transition: all ease 1s;
    text-align: center;
}
.fp-prediction__prediction-author-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius:30px;
    margin-left:-30px;
}
.fp-prediction__title {
    transition: linear .3s background;
    width: 100%;

    &,
    &:hover,
    &:visited { 
        color:#222;
        text-decoration: none;
    }
    &:focus,
    &:hover { 
        outline:none;
        text-decoration: underline;
    }
    &.prediction__title--flash {
        background:rgb(0,200,255);
    }
}



.fp-prediction__likelihood-selection {
    margin-top:.3rem;
}






















.add-reason__label {
    font-size:1rem;
    margin: 0px 0px 10px;
    display: block;
}
.add-reason__label-text {
    color: #444;
}
.add-reason__text-input-container {
    padding:0 10px 0 0;
}
.add-reason__text-input {
    max-width:700px;
    width:100%;
    margin:0 auto;
    font-size: .95rem;
}
/*
.add-reason__submit-button {
  border:none;
  margin:0 auto 20px;
  border-radius:3px;
  box-shadow:0 2px 5px #ccc;
  padding:.3em 2em;
  font-weight: normal;
  background:#eee;
  display:block; 
  border:1px solid #999;
  font-size: 1rem;
  color:#222;
  &:focus { outline: none; }
  &:hover {
    box-shadow:none;
    border-color:#ddd;
    background:#eee;
    color:#999;
  }
}
*/
.fp-prediction__num-votes-num-reasons {
    display:table;
    margin:0 auto;
    margin-top:.5rem;
    text-decoration: none;
    font-weight: bold;
    &,
    &:visited {
        color:#333;
    }
    &:hover {
        text-decoration: underline;
    }
}




.likelihood__community-estimate {}
.likelihood__community-estimate__graph {
    line-height: 0;
    background:#fff;
    position:relative;
    background:rgb(245,245,245);
    margin-bottom: 2px;
}
.likelihood__community-estimate__graph-bar {
    display:inline-block;
    vertical-align: bottom;
    width:9.09%;
    border-radius:3px;
    background:rgb(150,150,150);
    border-right:1px solid transparent;
}
.likelihood__community-estimate__count {
    font-weight: normal;
    color:#333;
    line-height:1rem;
    font-size: 1.2rem;
    border-radius:3px;
    padding:5px 0px;
    font-weight: bold;
    z-index: 1;
    background-color:#fff;
    border-radius:.2em;
}


.likelihood-user-estimate {
    display: block;
    margin:0 auto;
    padding:0.5rem;
    box-shadow:0 2px 3px rgb(230,230,230);
    border-radius:0.5rem;
    background:rgb(245,245,245);
    margin-top:0px;
}
.fp-user-judgement__reason {
    display: block;
    line-height:1.3em;
    transition: all .5s ease;
    &:hover {
      background:#eee;
    }
    margin:0;
    padding:0;
    margin-left:10px;
    margin-right:10px;
}
.fp-user-judgement__reason-text {
    padding:1em;
    display: block;
    color:#555;
    font-size:1rem;
    //max-width: 28em;
    margin:0 auto;
    border:1px solid #eee;
    padding:.5em .7em;
    //color:rgb(50,150,100);
    font-size:1rem;
    border:1px solid #ccc;
    border-radius:.3em;
    outline:none;
    box-shadow:0 2px 3px #ddd inset;
    min-height:4rem;
}






.likelihood-user-estimate-option {
    display: inline-block;
    vertical-align: top;
    width:9.09%;
    font-size:0;

    .test {
        display: inline-block;
        width: 95%;
        padding-top:.5em;
        padding-bottom:.45em;
        text-align: center;
        line-height: 1.2em;
        cursor: pointer;
        border-radius:4px;
        margin-left:auto;
        margin-right:auto;
        border:2px solid transparent;
        color:#999;
        font-size:1.05rem;
/*
        font-size:0;
        .percent,
        .show-on-active {
            font-size:1.05rem;
        }
*/
    }




    &:hover {

      .test {
        font-weight: normal;
        color:#fff;
      }


        &:nth-child(1)  .test { border:2px solid rgb(20,180,240);  }
        &:nth-child(2)  .test { border:2px solid rgb(70,190,180);  }
        &:nth-child(3)  .test { border:2px solid rgb(120,200,120); }
        &:nth-child(4)  .test { border:2px solid rgb(170,210,60);  }
        &:nth-child(5)  .test { border:2px solid rgb(198,204,46);  }
        &:nth-child(6)  .test { border:2px solid rgb(226,197,33);  }
        &:nth-child(7)  .test { border:2px solid rgb(255,190,20);  }
        &:nth-child(8)  .test { border:2px solid rgb(252,169,14);  }
        &:nth-child(9)  .test { border:2px solid rgb(249,147,7);   }
        &:nth-child(10) .test { border:2px solid rgb(246,125,0);   }
        &:nth-child(11) .test { border:2px solid rgb(241,103,0);   }
/*
        &:nth-child(1)  .test { color: rgb(20,180,240);  }
        &:nth-child(2)  .test { color: rgb(70,190,180);  }
        &:nth-child(3)  .test { color: rgb(120,200,120); }
        &:nth-child(4)  .test { color: rgb(170,210,60);  }
        &:nth-child(5)  .test { color: rgb(198,204,46);  }
        &:nth-child(6)  .test { color: rgb(226,197,33);  }
        &:nth-child(7)  .test { color: rgb(255,190,20);  }
        &:nth-child(8)  .test { color: rgb(252,169,14);  }
        &:nth-child(9)  .test { color: rgb(249,147,7);   }
        &:nth-child(10) .test { color: rgb(246,125,0);   }
        &:nth-child(11) .test { color: rgb(241,103,0);   }
*/
        &:nth-child(1)  .test { background: rgb(20,180,240);  }
        &:nth-child(2)  .test { background: rgb(70,190,180);  }
        &:nth-child(3)  .test { background: rgb(120,200,120); }
        &:nth-child(4)  .test { background: rgb(170,210,60);  }
        &:nth-child(5)  .test { background: rgb(198,204,46);  }
        &:nth-child(6)  .test { background: rgb(226,197,33);  }
        &:nth-child(7)  .test { background: rgb(255,190,20);  }
        &:nth-child(8)  .test { background: rgb(252,169,14);  }
        &:nth-child(9)  .test { background: rgb(249,147,7);   }
        &:nth-child(10) .test { background: rgb(246,125,0);   }
        &:nth-child(11) .test { background: rgb(241,103,0);   }
    }
}


.likelihood-user-estimate-option--active {
    &,
    &:hover:nth-child(n),
    .likelihood-user-estimate-option + & {

        .test {     color:#fff;         font-weight: normal;
  }


        &:nth-child(1)  .test { border:2px solid rgb(20,180,240);  }
        &:nth-child(2)  .test { border:2px solid rgb(70,190,180);  }
        &:nth-child(3)  .test { border:2px solid rgb(120,200,120); }
        &:nth-child(4)  .test { border:2px solid rgb(170,210,60);  }
        &:nth-child(5)  .test { border:2px solid rgb(198,204,46);  }
        &:nth-child(6)  .test { border:2px solid rgb(226,197,33);  }
        &:nth-child(7)  .test { border:2px solid rgb(255,190,20);  }
        &:nth-child(8)  .test { border:2px solid rgb(252,169,14);  }
        &:nth-child(9)  .test { border:2px solid rgb(249,147,7);   }
        &:nth-child(10) .test { border:2px solid rgb(246,125,0);   }
        &:nth-child(11) .test { border:2px solid rgb(241,103,0);   }

        &:nth-child(1)  .test { color: rgb(20,180,240);  }
        &:nth-child(2)  .test { color: rgb(70,190,180);  }
        &:nth-child(3)  .test { color: rgb(120,200,120); }
        &:nth-child(4)  .test { color: rgb(170,210,60);  }
        &:nth-child(5)  .test { color: rgb(198,204,46);  }
        &:nth-child(6)  .test { color: rgb(226,197,33);  }
        &:nth-child(7)  .test { color: rgb(255,190,20);  }
        &:nth-child(8)  .test { color: rgb(252,169,14);  }
        &:nth-child(9)  .test { color: rgb(249,147,7);   }
        &:nth-child(10) .test { color: rgb(246,125,0);   }
        &:nth-child(11) .test { color: rgb(241,103,0);   }
/*
        &:nth-child(1)  .test { border-color: rgb(20,180,240);  }
        &:nth-child(2)  .test { border-color: rgb(70,190,180);  }
        &:nth-child(3)  .test { border-color: rgb(120,200,120); }
        &:nth-child(4)  .test { border-color: rgb(170,210,60);  }
        &:nth-child(5)  .test { border-color: rgb(198,204,46);  }
        &:nth-child(6)  .test { border-color: rgb(226,197,33);  }
        &:nth-child(7)  .test { border-color: rgb(255,190,20);  }
        &:nth-child(8)  .test { border-color: rgb(252,169,14);  }
        &:nth-child(9)  .test { border-color: rgb(249,147,7);   }
        &:nth-child(10) .test { border-color: rgb(246,125,0);   }
        &:nth-child(11) .test { border-color: rgb(241,103,0);   }

*/
    }
}

.likelihood-user-estimate-option .show-on-active { 
  display:none;
}

.likelihood-user-estimate-option--active .show-on-active { 
  display:inline; 
}













.edit-prediction {
    border-radius:8px;
    border:1px solid #ddd;
    padding:0px;
    box-shadow:0 2px 3px #ddd;
}

.fp-prediction-list__newly-added-prediction__successfully-added-notice {}

.edit-prediction__add-topics-form { padding:0px 30px 10px; }


.edit-prediction__delete-report-buttons {
  padding:20px 30px 10px;
  border-radius:5px 5px 0 0 ;
}
.edit-prediction__prediction-title {
    font-size:1rem;
    font-weight: normal;
    margin-top:10px;
}
.edit-prediction__topics {
    margin-top:10px;
    margin-bottom:10px;
    display: block;
}
.edit-prediction__topic {
    background:#eee;
    font-weight: normal;
    padding:.1em .7em;
    border-radius:10em;
    margin-right:.1em;
    margin:.1em;
    display: inline-block;

}
.edit-prediction__delete-topic {
    &:hover { background:#ccc; color:#fff; }
    padding:.1em .6em .1em;
    border-radius:.3em;
    color:#222;
    cursor: pointer;
    font-size:1.2em;
    margin-right:-.3em;
}
.edit-prediction__add-topics-label {
  font-size:1rem;
  display: block;
  font-weight: normal;
  margin-top:20px;
}
#edit-prediction__topic-title-input {
  padding:.3em .6em;;
  max-width: 20em;
}

.edit-prediction__add-topic-button {
  border:none;
  margin-top:5px;
  border-radius:3px;
  box-shadow:0 2px 5px #ccc;
  padding:.3em 2em;
  font-weight: normal;
  background:#eee;
  display:block; 
  border:1px solid #999;
  color:#222;
  font-size:.9rem;
  &:focus { outline: none; }
  &:hover {
    box-shadow:none;
    border-color:#ddd;
    background:#eee;
    color:#999;
  }
}
.edit-prediction__suggested-topics {
  font-size:1rem;  color:#555;
  margin-top:5px;
  margin-bottom:20px;
}
.edit-prediction__suggested-topics-title {}
.edit-prediction__suggested-topics-list {
  display: inline-block;
  font-size:1rem;
}
.edit-prediction__suggested-topics-topic {
  &:hover { background: #eee; }
  margin-left:.2em;
  display:inline-block;
  padding:0;
  cursor: pointer;
  background: #eee;
  padding:.2em .5em;
  border-radius:.3em;
  margin-top:2px;
}



.edit-prediction__next-step-container {
  background:#eee;
  margin-top:10px;
  padding:10px 20px 10px;
  border-top:1px solid #ddd;
  border-radius:0 0 4px 4px;
  margin-top:10px;

}

.edit-prediction__next-step-container__next-button {
  background:rgb(50,130,240);
  color:#fff;
  font-weight: bold;
  border-radius:.3em;
  border:0;
  padding:.5em 2em;
  box-shadow:0 2px 3px #ccc;
}

.prediction__toggle-edit-topics {
  background:none;
  color:#999;
  border:none;
  font-size:1rem;
  font-weight: normal;
  position:absolute;
  right:0;
  top:.4em;
  //border-top:1px solid #eee;
  //border-right:1px solid #eee;
  border-radius:0 3px 0 0;
  padding:.1em .5em .5em 1em;
}
.prediction__topics-not-set-notice {
    font-weight: normal;
    color:rgb(200,50,0); 
}



.prediction__topic__preview-while-saving { 
    &:hover { background:rgb(245,245,245); }
    &:first-letter { text-transform: uppercase; }
    color:#999;
    padding:.4em .5em;
    font-size:1rem;
    font-weight: normal;
}


















.fp-add-new-prediction { 
    width:100%; 
    max-width: 700px;
    margin:0 auto;
}

.fp-add-new-prediction__prediction-title-label {
    font-size:1.3rem;
    padding:.3em 0;
    font-weight: bold;
}
.fp-add-new-prediction__topic {
    border:3px solid #eee;
    font-weight: inherit;
    border-radius:.2em;
    display: inline-block;
    font-weight:normal;
    font-size:110%;
    &:hover {}
    &:first-letter { text-transform: uppercase; }
}
.fp-add-new-prediction__topic-link {
    text-decoration: none;
    padding:.1em .3em .2em .3em;
    display: inline-block;
    &,
    &:hover,
    &:visited {
        color:#333;
    }
    &:hover {
        color:rgb(0,100,200);
        text-decoration:underline;
        &.active {
            background:none;
            color:#222;
            text-decoration: none;
            cursor: default;
        }
    }
}
.fp-add-new-prediction__delete-topic {
    font-size:1em;    
    padding:0em .5em .1em;
    border-radius: .3em;
    font-weight: bold;
    &:hover  { background:#777; color:#fff; }
}
.fp-add-new-prediction__label {
    font-size:1rem;
    text-transform: uppercase;
    color:#999;
    text-align: center;
}
.fp-add-new-prediction__prediction-title-input {
    font-size:1rem;
}
#fp-add-new-prediction__prediction-title-input {
  margin-top:5px;
}
.fp-add-new-prediction__errors {
  padding:10px 20px;
}
.fp-add-new-prediction__error {
  font-weight: normal;
  text-align: left;
  line-height: 1.2em;
  font-size:.9rem;
  margin-bottom:.3em;
  color:rgb(200,50,0);
  list-style-type: disc;
}
.fp-add-new-prediction__add-prediction-button {
  border:none;
  margin-top:5px;
  border-radius:3px;
  box-shadow:0 2px 5px #ccc;
  padding:.3em 2em;
  font-weight: normal;
  background:#eee;
  display:block; 
  border:1px solid #999;
  color:#222;
  font-size:.9rem;
  &:focus { outline: none; }
  &:hover {
    box-shadow:none;
    border-color:#ddd;
    background:#eee;
    color:#999;
  }
}
.fp-add-new-prediction__link-to-make-predictions-page {

    display: inline-block;
    margin: 0 auto;
    display: table;
    margin-top:3rem;
    margin-bottom:2rem;
    font-weight: 300;
    background:rgb(245,245,245);
    text-decoration: none;
    padding:.5rem 1rem;
    &,
    &:visited,
    &:hover {
        color:#333;
    }
}

.fp-add-new-prediction__title-error-messages,
.fp-add-new-prediction__topic-error-messages {
  li { padding:0; }
  color:rgb(200,50,0);
  font-weight: normal;
}
.fp-add-new-prediction__questions-not-allowed-explanation {
  margin:0;
  padding:0;
  font-size:1rem;
}
.fp-add-new-prediction__how-to-make-prediction-link {
  &,
  &:visited {
    color:rgb(50,130,240);
    text-decoration: none;
    font-size:.9rem;
  }
}
.fp-add-new-prediction__sample-predictions-list {
  list-style:initial;
  padding:10px 40px;
}
.fp-add-new-prediction__sample-prediction { padding:0; }


.fp-add-new-prediction__textfield-label {
    text-decoration:none;
    font-weight: bold;
    font-size:1rem;
    display: table;
    margin:0 auto .5rem;
    &,
    &:visited { color:#444; }
    &:hover { color:#777; }
}












.user-profile-page {
  position:relative;
  margin-top:20px;
}
.user-profile-page__prediction-list-container {
  margin-top:50px;
}

.user-profile-page__centered-box {
  width: 100%;
  max-width: 700px;
  padding-left:2%;
  padding-right:2%;
  margin:auto;  
}
.user-profile-page__user-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.user-profile-page__fullname {
  font-size:1rem;
  font-weight:bold;
  display: inline-block;
  vertical-align: bottom;

}
.user-profile-page__user-photo-big {
  border-radius:3px;
  height:200px;
  width:200px;
  background:#ddd;
  border-radius:200px;
}
.user-profile-page__prediction-list { margin-top:20px; }
.user-profile-page__prediction-list__title { font-size:1rem;}

.user-profile-page__logout-button {
  border:1px solid #ccc;
  background:#fff;
  border-radius:3px;
  padding:0em .7em;
  box-shadow:0 2px 3px #ddd;
  margin-top:.3em;
  display: inline-block;
  vertical-align: bottom;
}
















.fp-prediction-list {
  display: block;
  width: 100%;
}
.fp-prediction-list__title {
  margin-bottom:40px;
  font-size:1.8rem;
  display: table;
  margin:50px auto;
  font-weight: bold;
  display: none;
}
.fp-prediction-list__add-new-prediction-container {
    margin-bottom:50px;
}
.fp-prediction-list__second-add-new-prediction-container {
  margin-top:80px;
}

.fp-prediction-list__newly-added-prediction {}
.fp-prediction-list__newly-added-prediction-is-saving {
  font-size:1rem;
  margin:30px 0;
}
.fp-prediction-list__no-predictions-found {
  margin-top:50px;
}





.fp-prediction-list__pagination {
  margin-top:100px;
  text-align: center;
}

.fp-prediction-list__pagination-next-button {
  padding:1em 5em;
  background:#eee;
  display: inline-block;
  border: none;
  outline: none;
  background:rgb(0,100,240);
  color:#fff;
  font-weight: bold;
  border-radius:.3em;

}

.fp-prediction-list__pagination-pages {
  margin-top:1rem;
}
.fp-prediction-list__pagination-page {
  display:inline-block;
}
.fp-prediction-list__pagination-link {
  padding:.5em 1em;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  &,
  &:hover,
  &:focus,
  &:visited {
    color:rgb(0,100,240);
  }
  &:hover {
    background: #eee;
  }
}
.fp-prediction-list__pagination-link--active {
  &,
  &:visited,
  &:focus,
  &:hover {
    color:#999;
  }
}







.prediction-page {
  max-width: 700px;
  width: 100%;
  margin:0px auto;
  padding:50px 2%;
  margin-top: 50px;
  position:relative;
  background:#fff;
}
.prediction-page__prediction-author-img {
    width: 50px;
    height: 50px;
    border-radius:50px;
    display: table;
    margin:0 auto 10px;;

}
.prediction-page-isloading {
    font-weight:bold;
    text-align: center;
}

.prediction-page__topics {
    text-align: center;
}
.prediction-page__topic {
    text-decoration: none;
    padding:.3em .5em;
    margin-right: .1em;
    border-radius: .3em;
    font-size: 1.1rem;
    background:rgb(245,245,245);
    transition: all .5s ease; 
    &,
    &:visited {
        color:#333;
    }
    &:hover {
        color:#333;
        background: #ddd;
    }
}
.prediction-page__prediction-title {
  font-weight: bold;
  font-size:1.8rem;
  max-width: 22em;
  margin:0 auto;
  padding:.3em 0;
  color:#444;
  text-align:center;
}
.prediction-page__featured-topics-container {
    max-width: 300px;
    width: 100%;
    margin:130px auto 0;
}
.prediction-page__footer-repeated-header {
    margin-top:4rem;
}
.prediction-page-reasons {
  margin-top:50px;

}


.community-estimate-graph-container {
    margin:0px 0 45px;
    position: relative;

}




.reasons-list {
    padding:0;
    margin:10px auto 0;
    max-width: 32rem;
  list-style: none;
}
.reasons-list__reason {
    position: relative;
    border-top:1px solid #eee;
    padding:1.5rem .5rem 1rem;
}
.reasons-list__reason-text {
    font-size:1.1rem;
    &:hover {
        color:#777;
    }
}
.reasons-list__author-image {
    width: 40px;
    height: 40px;
    border-radius:35px;
    background: #999;
    float:left;
    margin-right:.7em;
    transition:.5s all ease;
    &:hover {
      opacity: .5;
    }
}
.reasons-list__likelihood {
    .reasons-list__likelihood-number {
        font-size: 1.3rem;
    }
}

.reasons-list__reason-content {
    line-height: 1.3em;
    font-weight: normal;
    min-height: 40px;
}
.reasons-list__reason-text {
    transition: all .5s ease;
}
.reasons-list__reason-actions {
    border:2px solid #eee;;
    font-size:0px;
    & > * { font-size:1rem; }
    margin:5px 0 20px;
    display: block;
    border-radius:.4rem;
}
.reasons-list__reason-action {
    display: inline-block;
    font-size:.8rem;
    line-height: 1em;
    padding:.8em;
    text-transform: uppercase;
    &:hover {
        background:rgb(245,245,245);
    }
}
.reasons-list__reason-action--selected {
    font-weight: bold;
    color:#333;
    //color: rgb(0,150,240);
}


.prediction-page-main-likelihood-estimate-container {
    margin-top:.5rem;
}
.prediction-page-main-likelihood-estimate-container__add-reason {
    margin-bottom:50px;
    margin-top:15px;
}
.prediction-page-main-likelihood-estimate-container__add-reason-title {
    font-weight:bold;
    font-size:1.1rem;
    font-weight: bold;
    text-align:center;
    margin-top:3px;
    margin-bottom:3px;
    display:block;
}
/*.prediction-page__likelihood-selection {
   margin-top: .6rem;
}
.likelihood-selection__prediction-title {
    text-align: center;
    max-width: 28em;
    margin:0 auto .1em;
    line-height: 1.15em;
    font-size: .95rem;
    color:#333;
}*/















.prediction-list-page {
    width: 100%;
    max-width:700px;
    margin:0px auto 100px;
    padding-left:3%;
    padding-right:3%;
    background:#fff;
}

@media (min-width:700px) {
    .prediction-list-page {
        padding-top:100px;
    }
}
.prediction-list-page__featured-topics-container {
    margin:130px auto 0;
}
.prediction-list-page__add-topic-form {
    margin-top:20px;
    background:rgb(245,245,245);
    padding:50px 20px;
}
.prediction-list-page__add-topic-form__title {
    font-size:1.1rem;
    text-align:center;
    font-weight:bold;
    margin-bottom: 10px;
}
.prediction-list-page__add-topic-form__label {
    font-size:1rem;
    text-align: center;
    font-weight: normal;
    display: block;
    font-size: 1.1rem;
}
.prediction-list-page__add-topic-form__input-text {
    max-width: 15rem;
    width: 100%;
    margin:0 auto;
}



.browse-topics-page {
  max-width: 700px;
  width: 100%;
  margin:100px auto 300px;
  padding: 0 3%;
}
.browse-topics-page__topics-list { 
    margin-top:30px; 
    list-style:none;
}
.browse-topics-page__topic {
  padding:0;
  & + & {
    margin-top:50px;
  }
}
.browse-topics-page__topic-title {
    font-size:1rem;
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    padding:.1em .5em;
    border-radius:.3em;
    background:rgb(240,245,250);
    font-weight: normal;

    &,
    &:hover,
    &:visited {
        color:rgb(50,100,150);
    }
    &:hover {
        background:rgb(220,235,250);
        color:rgb(0,70,150);
    }
}

.add-topic-form { 
    margin-top:50px; 
}
.add-topic-form__title { 
    font-size:1rem;
}
.add-topic-form__label {
  margin-top:20px;
  font-weight: bold;
  display: block;
  font-size:1rem;
}
















.social-icon-link {
  display: block;
  font-size:1rem;
  text-decoration: none;
  font-weight: bold;
  margin-left:10px;
  &,
  &:visited{ color:#222; }
}





.make-prediction-page {
    margin-top:10px;
    padding-left:2%;
    padding-right:2%;
    max-width:700px;
    margin-left: auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:300px;
}
.make-prediction-page__topic-suggestions { 
    margin-top:50px; 
    padding:0px;
}
.make-prediction-page__topic-suggestions__title { 
  margin-bottom:10px;
}
.make-prediction-page__topic-suggestions__topic { 
    cursor: pointer; 
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
    padding:.1em 1em 0em;
    border-radius:.3em;
    font-size:.9rem;
    color:#888;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    border:2px solid #eee;
    &.previously-active {
        border-color:rgb(250,250,250);
    }
    &:hover {
      background:#eee;
      border-color:#eee;
      color:#222;
    } 
    &.active {
        background:rgb(245,245,245);
        border-color:rgb(245,245,245);
        color:#222;
        border-radius:30px;
    }
}

.make-prediction-page__topic-suggestions__topics-list {}

.make-prediction-page__newly-added-predictions {
  margin-bottom:50px;
}


.login {
    max-width:500px;
    margin:0 auto;
    text-align: center;
}
.login__description {
    font-size:20px;
    padding:.5em;
}
.login__disclaimer {
    background: #eee;
    padding:.5em 1em;
    border-radius:3px;
    margin-top:1em;
    display: inline-block;
    border:2px solid #ddd;
    font-size:1.1rem;
}
.login__with-facebook-button {
    margin-top:1em;
}








.fp-featured-topics-list__title {
    width: 100%;
    font-size:1.4rem;
    font-weight: bold;
    margin:0 auto;
}
.fp-featured-topics-list__topics {
    color:#999;
    margin-top:1rem;
}
.fp-featured-topics-list__topic {
    padding:0;
}
.fp-featured-topics-list__topic-link {
    padding:.4em;
    display: block;
    transition: all .8s ease;
    &,
    &:hover,
    &:visited {
        color:#222;
        text-decoration: none;
        font-size:1rem;
        font-weight: normal;
    }
    &:hover {
        color:rgb(0,100,200);
        padding-left:1em;
        background:rgb(245,245,245);
    }
}



.feedback-page {
    width: 100%;
    max-width:500px;
    margin: 50px auto;
}
.feedback-page__feedback-form {
    margin-top:3rem;
}
.feedback-page__feedback-submitted-notice,
.feedback-page__feedback-error-notice {
    background:#eee;
    padding:1em;
    font-weight: bold;
}
.feedback-page__feedback-error-notice {
    color: rgb(150,50,0);
    background:rgb(255,230,200);
}
.feedback-page__message-textarea-label {
    font-weight: bold;
    font-size:1.2rem;
}
.feedback-page__message-textarea {
    margin-top:5px;
}
.feedback-page__submit-button {
    margin-top:10px;
}
.feedback-page__header {
    margin-bottom:50px;
}

.feedback-page__thank-you-title {
    font-size:1.8rem;
    line-height: 1.2em;
    text-align:center;
}
.feedback-page__thank-you-message {
    margin-top:10px;
    font-size:1.1rem;
    margin-left:30px;
}






.prediction-page-reasons__no-reasons-notice,
.fp-prediction-list__isloading-notice,
.fp-prediction-list__no-predictions-found,
.prediction-page-reasons__no-reasons-notice {
    font-weight: normal;
    padding:1em 3em;
    border:2px solid #eee;
    color:rgb(0,150,50);
    text-align: center;
    width: 100%;
}
.user-estimate__is-saving-reason-notice,
.user-estimate__is-reason-saved-notice {
  font-weight: normal;
  color:rgb(0,150,50);
}
.user-estimate__is-reason-saved-notice {}


