<div class="likelihood__user-estimate">
    <div class="likelihood__user-estimate-option" 
        ng-click="userEstimateCtrl.onSelectOption({'percent':percent})" 
        ng-repeat="percent in userEstimateCtrl.percentOptions" 
        ng-class="{'likelihood__user-estimate-option--active': percent === userEstimateCtrl.userEstimatePercent}"><span class="test"><!--
        --><span class="percent">{{percent}}</span><span class="show-on-active">%<!--likely--></span><!--
        --></span><!--
 --></div>
</div>