
<!--<ul class="topics-by-img">
	<img ng-repeat="n in sidebar.imageUrls" class="topic-image">
</ul>-->
<!--<ul class="topics-by-title">
	<li class="topic" ng-repeat="topic in sidebar.topics">
		<a href="#" class="topic-title">{{topic.title}}</a>
	</li>
</ul>
<ul class="topics-by-title">
	<li class="topic" ng-repeat="topic in sidebar.topics | orderBy:'title'">
		<a href="#" class="topic-title">{{topic.title}}</a>
	</li>
</ul>
<ul class="topics-by-title">
	<li class="topic" ng-repeat="topic in sidebar.topics | orderBy:'-title'">
		<a href="#" class="topic-title">{{topic.title}}</a>
	</li>
</ul>-->