<div class="header">
    <div class="header__fill-fixed-position-space"></div>
    <div class="header__fixed-to-top">

        <div class="private-alpha-notice">
            <b>Unnamed project</b> - still in development. This is a test version. Data loss is likely and things will break!
        </div>

        <div class="header__center-aligned-container">
            <nav class="header__navigation">
                <ul class="header__navigation__list"><!--
                    --><!--
                 --><li class="header__navigation-item header__navigation-item--notifications"
                        ng-if="ctrl.isUserProfileOptionActive">
                        <a class="header__profile-link" 
                            ui-sref="app.user-profile({userId:ctrl.userId})" 
                            ui-sref-active="active">
                            <img class="header__profile-photo" 
                                ng-src="{{ctrl.userThumbnailUrl}}" 
                            />
                            <span class="header__notification-count"
                                ng-show="ctrl.numUnreadNotifications">
                                {{ctrl.numUnreadNotifications}}
                            </span>
                        </a>
                    </li><li class="header__navigation-item">
                        <a class="header__navigation-item-link header__topics-link" 
                            ui-sref="app.browse-topics" 
                            ui-sref-active="active"
                            >Topics
                        </a>
                    </li><li class="header__navigation-item">
                        <a class="header__navigation-item-link" 
                            ui-sref="app.browse-topics" 
                            ui-sref-active="active"
                            >Add Prediction
                        </a>
                    </li><li class="header__navigation-item">
                        <a class="header__navigation-item-link header__navigation-item-link--feedback" 
                            ui-sref="app.feedback" 
                            ui-sref-active="active"
                            >Feedback
                        </a>
                    </li><li class="header__navigation-item">
                        <a class="header__navigation-item-link"
                            ng-click="ctrl.loginWithFacebook()"
                            ng-show="ctrl.isLoginOptionActive"
                            >Login
                        </a>
                    </li><!--<li class="header__navigation-item">
                        <a class="header__navigation-item-link"
                            ui-sref="app.follow"
                            ui-sref-active="active"
                            >Follow
                        </a>
                    </li>-->
                </ul>
            </nav>

        </div>
    </div>
</div>