<div class="header">
    <div class="header__fill-fixed-position-space"></div>
    <div class="header__fixed-to-top">
            
            <!--javascript to take a screenshot-->
            <!--
            <button class="header__show-feedback-form-button">
                Feedback
            </button>
            <input type="text"
                class="header__feedback-text-input"
                placeholder="Feedback" 
                ng-model="header.feedbackText"
                ng-keyup="$event.keyCode == 13 && header.submitFeedback($event)"
            />
            -->
<!--            <button class="header__feedback-submit-button" 
                ng-show="header.feedbackText.length"
                ng-click="header.submitFeedback()">
                Send feedback
            </button>
-->


        <div class="header__center-aligned-container">
            <nav class="header__navigation">
                <ul class="header__navigation__list"><!--
                 --><li class="header__navigation-item">
                        <a class="header__profile-photo-container" 
                            ui-sref="app.user-profile({userId:header.currentUser.userId})" 
                            ui-sref-active="active">
                            <img class="header__profile-photo" 
                                ng-src="{{header.currentUser.userThumbnailUrl}}" 
                            />
                        </a>
                    </li><!--
                --><li class="header__navigation-item">
                        <a class="header__navigation-item__link" 
                            ui-sref="app.recent" 
                            ui-sref-active="active">
                            Recent
                        </a>
                    </li><!--
                --><li class="header__navigation-item">
                        <a class="header__navigation-item__link" 
                            ui-sref="app.browse-topics" 
                            ui-sref-active="active">
                            Topics
                        </a>
                    </li><!--
                 --><li class="header__navigation-item">
                        <a class="header__navigation-item__link" 
                            ui-sref="app.make-prediction" 
                            ui-sref-active="active">
                            Add predictions
                        </a>
                    </li><!--
                 --><li class="header__navigation-item">
                        <a class="header__navigation-item__link header__navigation-item__link--feedback" 
                            ui-sref="app.feedback"                              
                            ui-sref-active="active">
                            Feedback
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>