<div class="feedback-page">

    <div class="feedback-page__header">
        <p class="feedback-page__overview">
            This project is a work in progress, still in development. This is a test version: data loss is likely and things will break!
            Please share any thoughts you may have:
        </p>
        <ul class="feedback-page__guideline-list">
            <li>What are your thoughts on the overall idea?</li>
            <li>What features or improvements would you like to see implemented?</li>
            <li>And please don't hesitate to report any problems you encounter</li>
        </ul>
    </div>
    
    <div ng-show="ctrl.isFeedbackSubmittedNoticeVisible"
        class="feedback-page__feedback-submitted-notice">
        Feedback submitted.
    </div>

    <div ng-show="ctrl.isFeedbackErrorNoticeVisible"
        class="feedback-page__feedback-error-notice">
        Error submitting feedback, try again.
    </div>

    <form class="feedback-page__feedback-form"
        ng-submit="ctrl.submitFeedback()">
        <label>
            <div class="feedback-page__message-textarea-label">
                <span ng-hide="ctrl.feedbackSubmitSuccessCount">Feedback:</span>
                <span class="feedback-page__message-textarea-label--other-feedback"
                    ng-show="ctrl.feedbackSubmitSuccessCount">
                    Do you have any other feedback?
                </span>
            </div>
            <textarea
                rows="5"
                required
                autofocus
                id="{{ctrl.feedbackTextboxId}}"
                class="feedback-page__message-textarea stretchy-textarea"
                ng-model="ctrl.feedback.feedbackText">
            </textarea>
        </label>

        <label class="feedback-page__email-label">
            Email: (optional)
            <input class="feedback-page__email-input" 
                type="email"
                name="email"
                ng-model="ctrl.feedback.email"
            />
        </label>

        <button class="feedback-page__submit-button">
            Submit feedback
        </button>

    </form>

</div>
