<div class="fp-user-judgement-reasons-list">

    <div class="fp-user-judgement-reasons-list__is-loading-notice"
        ng-show="!ctrl.judgementsWithReasons">
        Loading reasons...
    </div>

    <div class="fp-user-judgement-reasons-list__no-reasons-notice"
        ng-show="ctrl.judgementsWithReasons.length === 0">
        No reasons available at this time.
    </div>

    <ul class="fp-user-judgement-reasons-list__reasons-list">
        <li class="fp-user-judgement-reasons-list__reasons-list-reason"
            ng-repeat="judgement in ctrl.judgementsWithReasons">

            <div class="fp-user-judgement-reasons-list__reason-text clearfix">

                <img class="fp-user-judgement-reasons-list__reason-author-img" 
                    ng-src="{{judgement.author.publicFacebookData.profilePhotoUrl}}"
                    ng-click="ctrl.onClickReasonAuthorImg(judgement)"
                />

                <div class="fp-user-judgement-reasons-list__reason-author-fullName-bio"
                    ng-class="{'fp-user-judgement-reasons-list__reason-author-fullName-bio--is-visible': judgement.isAuthorNameVisible}">
                    <span class="fp-user-judgement-reasons-list__reason-author-fullName">Darragh McCarthy</span>
                    <!--<span class="fp-user-judgement-reasons-list__reason-author-bio">, Web developer</span>-->
                </div>

                <span class="fp-user-judgement-reasons-list__likelihood-percent-number">{{judgement.likelihoodPercent}}</span>% likely.

                {{judgement.reasonText}}

            </div>

            <form ng-submit="ctrl.saveComment(judgement, newCommentText); newCommentText = ''">

                <input class="fp-user-judgement-reasons-list__add-comment-textarea"
                    type="text"
                    placeholder="Comment"
                    ng-model="newCommentText"
                />

                <button class="text-input-popup-button"
                    ng-show="newCommentText.length">
                    Add Comment
                </button>
            </form>

            <div class="fp-user-judgement-reasons-list__num-comments" 
                ng-show="!judgement.areCommentsVisible && judgement.comments.length > 0" 
                ng-click="judgement.areCommentsVisible = true">
                {{judgement.comments.length}} comments
            </div>

            <ul class="fp-user-judgement-reasons-list__comments"
                ng-show="judgement.areCommentsVisible">
                <li class="fp-user-judgement-reasons-list__comment clearfix"
                    ng-repeat="comment in judgement.comments">
                    <img class="fp-user-judgement-reasons-list__comment-author-img"
                        ng-src="{{comment.author.publicFacebookData.profilePhotoUrl}}"
                        ng-click="comment.isExpanded = true"
                    />
                    {{comment.commentText}}
                    <!--&#10005;-->
                </li>
            </ul>
        </li>
    </ul>
</div>