.prediction-list {
  display: block;
  margin:auto;
  width: 100%;
  max-width:650px;
  padding-left:2%;
  padding-right:2%;
  margin-top:30px;
  margin-bottom:300px;
}
.prediction-list__title {
  margin-bottom:40px;
  font-size:35px;
  font-weight: bold;
  display: block;
  .title {
    display: inline-block;
    display: block;
    vertical-align: bottom;
  }
}

.prediction-list__footer-navigation-link {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow:0 2px 3px #bbb;
  font-size:16px;
  line-height: 1em;
  padding:1em 2em;
  margin-top:25px;
  &,
  &:visited {
    background:rgb(200,220,240);
    color:rgb(50,100,200);
  }
  &:hover { 
    background:rgb(180,200,220);; 
    color:rgb(40,90,190);
  }
  &.active { background:#ddd; color:#bbb; }
}



.add-prediction-button {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow:0 2px 3px #bbb;
  font-size:16px;
  line-height: 1em;
  padding:.7em 1em;
  &,
  &:visited {
    background:rgb(200,220,240);
    border:1px solid rgb(150, 180,240);
    border-radius:2em;
    margin-top:10px;
    color:rgb(50,100,200);
  }
  &:hover { 
    background:rgb(180,200,220);; 
    color:rgb(40,90,190);
  }
  &.active { background:#ddd; color:#bbb; }
}


.prediction-list__instructions {
  margin:10px 0 50px;
  font-weight:normal;
  font-size:20px;
  color:#555;
}
.prediction-list__isloading-notice,
.prediction-list__kickstart-predictions-notice {
  font-weight: bold;
}
.prediction-list__kickstart-predictions-notice {
  margin-top:15px;
}
.prediction-list__add-prediction-to-topic {
  max-width: 650px;
  width: 100%;
  background:#fff;
  border:#ccc;
  border-radius:5px;
  box-shadow:0 2px 3px #ccc;
  padding:15px;
  margin-top:25px;
  border:1px solid #ccc;
  text-align: center;
  font-weight: normal;
  &:hover {
    background:#eee;
  }
}




.prediction-list__footer-navigation {
  margin-bottom:50px;
}
.nav-cont {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  margin-bottom:30px;
}

.predictions {
  padding:0;
  margin:0;
  margin-top:50px;
}